@import 'fonts';
@import 'reset';

:root {
  font-size: calc(0.7rem + 0.5vw);
}

// VARS FOR COLORS

$yellow: #e2a355;

//  !!! VARS FOR COLORS

// VARS FOR SHAPES

$shape-two: -139px;

// !!! VARS FOR SHAPES

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

main { overflow: hidden; }

.container {
  max-width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: $yellow;
  text-transform: uppercase;
}

.text {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: #7f7770;
}

.btn {
  display: block;
  max-width: 330px;
  padding: 0.9rem 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  color: #776c64;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 40px;

  &_white { background-color: white; }

  &_gray {
    color: white;
    background-color: #7f7770;
  }

  &_gold { background-color: $yellow; }
}

.hdr { padding: 0.8rem 0; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-menu {
    display: flex;
    align-items: center;
  }

  &-nav {
    display: flex;
    margin-right: 63px;

    &__item:not(:last-child) { margin-right: 60px; }

    &__link {
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: 700;
      color: #54524f;
      text-transform: uppercase;

      &:hover { color: $yellow; }
    }
  }

  &-form {
    position: relative;
    max-width: 180px;

    &__input {
      width: 100%;
      padding: 10px 20px;
      background-color: #c3bfbc;
      border: 0;
      border-radius: 20px;
    }

    &__btn {
      position: absolute;
      right: 0;
    }
  }
}

.main-title {
  margin-bottom: 33px;
  font-family: "Open Sans", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  color: #deb37e;
  text-shadow: 3px -4px 5px rgba(84, 82, 79, 0.22);
  text-transform: uppercase;

  &__sub {
    display: block;
    margin: 15px 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 700;
    color: #54524f;
    text-shadow: none;
    text-transform: uppercase;
  }
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../img/main-hero.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 3px -4px 5px rgba(162, 156, 156, 0.75);
}

.shape-two {
  position: absolute;
  bottom: $shape-two;
  width: 100%;
  height: 200px;
  background-image: url('../img/shape-bottom-main.png');
  background-position: center;
  background-size: cover;
}

.intro {
  flex: 1;

  &__container {
    position: relative;
    padding: 0 30px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
    height: 100%;
  }

  &__btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-bottom: 26px;
    transition: 1s ease-in;

    &:hover {
      color: white;
      background-color: $yellow;
    }
  }

  &__text {
    max-width: 475px;
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
    color: #54524f;
    letter-spacing: 0.96px;
  }
}

.go {
  position: relative;
  padding: 6rem 0 9rem 0;
  &__title { text-align: center; }

  &__text {
    margin-bottom: 4.2rem;
    text-align: center;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-article {
    max-width: 340px;
    margin-bottom: 3rem;
    color: #fff;
    background-color: #7f7770;

    &:not(:last-child) { margin-right: 5rem; }
    &__img { display: block; }
    &__desc { padding: 3rem 1rem; }

    &__title {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      font-weight: 700;
    }

    &__text {
      font-size: 1.5rem;
      font-weight: 400;
      color: inherit;
      text-align: left;
    }
  }

  &__btn {
    padding: 1rem 3rem;
    margin: 0 auto;
    transition: 0.3s ease-in;
    &:hover { background-color: $yellow; }
  }
}

.flower-shadow {
  position: absolute;
  bottom: 25px;
  left: -344px;
  z-index: -1;
  width: 876px;
  height: 512px;
  background-image: url('../img/go-shadow.png');
  background-position: center;
  background-size: cover;
}

.promo {
  position: relative;

  &__wrapper { max-width: 100%; }

  &-list {
    display: grid;
    grid-template-areas: 'left-img right-text' 'left-text right-img';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  &-item {
    max-width: 100%;
    color: white;

    &_gray { background-color: #7f7770; }
    &_gold { background-color: #deb37e; }

    &_right-text {
      grid-area: right-text;
      padding: 1rem 1rem 1rem 3.5rem;
    }

    &_left-text {
      grid-area: left-text;
      padding: 1rem 3.5rem 1rem 1rem;
    }

    &_left-img { grid-area: left-img; }
    &_right-img { grid-area: right-img; }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      height: 100%;
    }

    &__title,
    &__text { color: inherit; }

    &__title {
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2;
      text-transform: none;
    }

    &__text {
      margin-bottom: 3.2rem;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__btn {
      align-self: flex-start;
      padding: 1.5rem 3.5rem;
      font-size: 1.5rem;
      color: inherit;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.mount {
  position: relative;
  padding: 210px 0 0 0;
  color: white;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-color: #7f7770;
    opacity: 0.8;
  }

  &-shape {
    position: absolute;
    top: 0;
    width: 100%;
    height: 210px;
    background-image: url('../img/shape-grid.png');
    background-position: center;
    background-size: cover;
  }

  &__flower { z-index: 0; }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 9rem 15px 8rem;
  }

  &__title {
    margin-bottom: 2.2rem;
    color: inherit;
    text-align: center;
    text-transform: none;
  }

  &__text {
    max-width: 890px;
    font-size: 1.6rem;
    color: #dbdbdb;
    text-align: center;
  }
}

.explore {
  position: relative;
  background-image: url('../img/hero-2.jpg');
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: 1794px auto;

  &-shape {
    position: absolute;
    top: -69px;
    z-index: 1;
    width: 100%;
    height: 315px;
    background-image: url('../img/shape-grid-lower.png');
    background-position: center;
    background-size: cover;

    &_bottom {
      position: absolute;
      bottom: -166px;
      z-index: 1;
      width: 100%;
      height: 211px;
      background-image: url('../img/shape-hero2.png');
      background-position: center;
      background-size: cover;
    }
  }

  &-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    height: 100%;
    padding: 0 2.5rem 0 0;
    margin: 0 0 0 auto;
  }

  &-title {
    font-size: 4rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1.2;
    color: #deb37e;
    text-align: right;
    text-shadow: 3px -4px 5px rgba(84, 82, 79, 0.36);
    text-transform: uppercase;

    & span {
      display: block;
      font-size: 4.5rem;
      color: #54524f;
    }
  }
}

.infos {
  position: relative;
  padding-top: 176px;

  &-cite {
    max-width: 800px;
    margin: 0 auto;

    &__logo {
      width: 43px;
      height: 25px;
      margin: 0 auto 47px;
      background-image: url('../img/cite-img.png');
      background-position: center;
      background-size: cover;
    }

    &__text {
      margin-bottom: 56px;
      font-size: 25px;
      font-weight: 600;
      color: #3f3f3f;
      text-align: center;
    }

    &__title {
      font-size: 21px;
      font-weight: 700;
      color: #3f3f3f;
      text-align: center;
    }
  }

  &__shadow {
    position: absolute;
    right: -246px;
    bottom: -200px;
    left: auto;
    z-index: 2;
    width: 806px;
    height: 574px;
    background-image: url('../img/contact-shadow.png');
    background-position: center;
    background-size: cover;
  }

  &-shape {
    position: absolute;
    bottom: -210px;
    z-index: 1;
    width: 100%;
    height: 210px;
    background-image: url('../img/shape-contact.png');
    background-position: center;
    background-size: cover;
  }
}

.contact {
  position: relative;
  padding: 164px 0 137px 0;
  color: #fff;
  background-color: #deb37e;

  &__inner {
    max-width: 890px;
    padding-top: 211px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 3.5rem;
    font-size: 4.3rem;
    font-weight: 700;
    color: inherit;
    text-align: center;
    text-transform: capitalize;
  }

  &__text {
    margin-bottom: 3.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #54524f;
    text-align: center;
  }

  &-form {
    position: relative;

    & input {
      width: 100%;
      padding: 2rem 0 2rem 2rem;
      border: 0;
      border-radius: 40px;
    }

    & button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.ftr {
  position: relative;
  color: white;
  background-color: #7f7770;

  &-shape {
    position: absolute;
    top: -40px;
    z-index: 1;
    width: 100%;
    height: 187px;
    background-image: url('../img/ftr-shape.png');
    background-position: center;
    background-size: cover;
  }

  &-container { padding-top: 187px; }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }

  &-info { max-width: 20rem; }

  &-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  &__text {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    color: inherit;
  }

  &-socials {
    display: flex;

    &__item {
      width: 42px;
      height: 42px;
      background-repeat: no-repeat;
      background-size: cover;

      &:first-child { background-image: url('../img/inst.png'); }
      &:nth-child(2) { background-image: url('../img/fb.png'); }
      &:nth-child(3) { background-image: url('../img/twi.png'); }
      &:last-child { background-image: url('../img/whatsapp.png'); }
      &:not(:last-child) { margin-right: 1rem; }
    }
  }

  &-navbar {
    display: flex;

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
    }

    &__col { &:not(:last-child) { margin-right: 2rem; } }
    &__item { &:not(:last-child) { margin-bottom: 1.1rem; } }
    &__link { font-size: 1.4rem; &:hover { text-decoration: underline; } }
  }
}

@import 'media';
